In [1]:
# libraries!
import numpy as np      # numpy is Python's "array" library
import pandas as pd     # Pandas is Python's "data" library ("dataframe" == spreadsheet)

In [2]:
# let's read in our stock data...
# 
# 
filename = 'stock_prices.csv'
df = pd.read_csv(filename)        # encoding="utf-8" et al.
print(f"{filename} : file read into a pandas dataframe.")

stock_prices.csv : file read into a pandas dataframe.

In [3]:
#
# a dataframe is a "spreadsheet in Python"   (seems to have an extra column!)
#
# let's view it!
df.head()

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target
0,20170104_1301,2017-01-04,1301,2734.0,2755.0,2730.0,2742.0,31400,1.0,NaN,False,0.000730
1,20170104_1332,2017-01-04,1332,568.0,576.0,563.0,571.0,2798500,1.0,NaN,False,0.012324
2,20170104_1333,2017-01-04,1333,3150.0,3210.0,3140.0,3210.0,270800,1.0,NaN,False,0.006154
3,20170104_1376,2017-01-04,1376,1510.0,1550.0,1510.0,1550.0,11300,1.0,NaN,False,0.011053
4,20170104_1377,2017-01-04,1377,3270.0,3350.0,3270.0,3330.0,150800,1.0,NaN,False,0.003026

In [4]:
#
# let's look at the dataframe's "info":
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2332531 entries, 0 to 2332530
Data columns (total 12 columns):
RowId               object
Date                object
SecuritiesCode      int64
Open                float64
High                float64
Low                 float64
Close               float64
Volume              int64
AdjustmentFactor    float64
ExpectedDividend    float64
SupervisionFlag     bool
Target              float64
dtypes: bool(1), float64(7), int64(2), object(2)
memory usage: 198.0+ MB

In [5]:
# Let's look at the dataframe's columns:
df.columns

Index(['RowId', 'Date', 'SecuritiesCode', 'Open', 'High', 'Low', 'Close',
       'Volume', 'AdjustmentFactor', 'ExpectedDividend', 'SupervisionFlag',
       'Target'],
      dtype='object')

In [6]:
# we can drop a series of data (a row or a column)
# they're indicated by numeric value, row~0, col~1, but let's use readable names instead:
ROW = 0
COLUMN = 1

df_clean1 = df.drop(['Date', 'RowId', 'AdjustmentFactor', 'ExpectedDividend', 'SupervisionFlag'], axis=COLUMN)
df_clean1.head()

# df_clean1 is a new dataframe, without that unwanted column

   SecuritiesCode    Open    High     Low   Close   Volume    Target
0            1301  2734.0  2755.0  2730.0  2742.0    31400  0.000730
1            1332   568.0   576.0   563.0   571.0  2798500  0.012324
2            1333  3150.0  3210.0  3140.0  3210.0   270800  0.006154
3            1376  1510.0  1550.0  1510.0  1550.0    11300  0.011053
4            1377  3270.0  3350.0  3270.0  3330.0   150800  0.003026

In [7]:
#
# let's drop _all_ rows with data that is missing/NaN (not-a-number)
df_clean2 = df_clean1.dropna()
df_clean2.info()  # print the info

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2324923 entries, 0 to 2332530
Data columns (total 7 columns):
SecuritiesCode    int64
Open              float64
High              float64
Low               float64
Close             float64
Volume            int64
Target            float64
dtypes: float64(5), int64(2)
memory usage: 141.9 MB

In [8]:
# Covert target to two category
# Positive and Negative

def convert_rate(rate):
    """ return the positive and nagative  """

    if rate > 0:
        return 1
    else: return 0

In [9]:
#
# we can "apply" to a whole column and create a new column
#   it may give a warning, but this is ok...
#

df_clean3 = df_clean2.copy()  # copy everything AND...

# add a new column, 'irisnum'
df_clean3['twoclass'] = df_clean2['Target'].apply(convert_rate)

# let's see...
df_clean3.head()

   SecuritiesCode    Open    High     Low   Close   Volume    Target  twoclass
0            1301  2734.0  2755.0  2730.0  2742.0    31400  0.000730         1
1            1332   568.0   576.0   563.0   571.0  2798500  0.012324         1
2            1333  3150.0  3210.0  3140.0  3210.0   270800  0.006154         1
3            1376  1510.0  1550.0  1510.0  1550.0    11300  0.011053         1
4            1377  3270.0  3350.0  3270.0  3330.0   150800  0.003026         1

In [10]:
# Covert target to ten category

def convert_rate_multiclass(rate):
    """ return the classes  """

    if rate < -0.025:
        return 0
    elif rate >= -0.025 and rate < -0.015:
        return 1
    elif rate >= -0.015 and rate < -0.01:
        return 2
    elif rate >= -0.01 and rate < -0.005:
        return 3
    elif rate >= -0.005 and rate <= 0:
        return 4
    elif rate > 0 and rate < 0.005:
        return 5
    elif rate >= 0.005 and rate < 0.01:
        return 6
    elif rate >= 0.01 and rate < 0.015:
        return 7
    elif rate >= 0.015 and rate < 0.025:
        return 8
    else: return 9

In [11]:
#
# we can "apply" to a whole column and create a new column
#   it may give a warning, but this is ok...
#

df_clean4 = df_clean3.copy()  # copy everything AND...

# add a new column, 'irisnum'
df_clean4['multiclasses'] = df_clean3['Target'].apply(convert_rate_multiclass)

# let's see...
df_clean4.head()

,SecuritiesCode,Open,High,Low,Close,Volume,Target,twoclass,multiclasses
0,1301,2734.0,2755.0,2730.0,2742.0,31400,0.000730,1,5
1,1332,568.0,576.0,563.0,571.0,2798500,0.012324,1,7
2,1333,3150.0,3210.0,3140.0,3210.0,270800,0.006154,1,6
3,1376,1510.0,1550.0,1510.0,1550.0,11300,0.011053,1,7
4,1377,3270.0,3350.0,3270.0,3330.0,150800,0.003026,1,5

In [13]:
# Get the code list

stock_list = df_clean4.groupby('SecuritiesCode').count().index

In [14]:
# Collect data from continue ten days as input
# Target rate in the 10th day as output

X_all = []
y_all = []
for stockID in stock_list:
    A = df_clean4[df_clean4.SecuritiesCode == stockID]
    B = A.drop(['Target','SecuritiesCode', 'multiclasses', 'twoclass'], axis=1 ).to_numpy().astype('float64') 
    for j in range(len(B) - 9):
        X_all.append(B[j: j+10].reshape(-1))
        y_all.append(A.iloc[j: j+1, 7])

In [15]:
len(X_all)

2306923

In [16]:
#
# We next separate into test data and training data ... 
#    + We will train on the training data...
#    + We will _not_ look at the testing data to build the model
#
# Then, afterward, we will test on the testing data -- and see how well we do!
#

#
# a common convention:  train on 80%, test on 20%    Let's define the TEST_PERCENT
#

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(np.array(X_all), np.array(y_all).ravel(), test_size=0.2, random_state=42)

print(f"training with {len(y_train)} rows;  testing with {len(y_test)} rows\n" )

print(f"Held-out data... (testing data: {len(y_test)})")
print(f"y_test: {y_test}\n")
print(f"X_test (few rows): {X_test[0:5,:]}")  # 5 rows
print()
print(f"Data used for modeling... (training data: {len(y_train)})")
print(f"y_train: {y_train}\n")
print(f"X_train (few rows): {X_train[0:5,:]}")  # 5 rows

training with 922769 rows;  testing with 1384154 rows

Held-out data... (testing data: 1384154)
y_test: [1 1 0 ... 1 0 0]

X_test (few rows): [[2.400e+03 2.406e+03 2.371e+03 2.399e+03 9.400e+03 2.399e+03 2.400e+03
  2.365e+03 2.378e+03 4.500e+03 2.395e+03 2.440e+03 2.391e+03 2.438e+03
  4.900e+03 2.400e+03 2.412e+03 2.365e+03 2.366e+03 4.600e+03 2.353e+03
  2.437e+03 2.353e+03 2.437e+03 7.900e+03 2.430e+03 2.430e+03 2.380e+03
  2.389e+03 3.000e+03 2.351e+03 2.351e+03 2.319e+03 2.319e+03 2.900e+03
  2.319e+03 2.336e+03 2.260e+03 2.266e+03 4.600e+03 2.289e+03 2.300e+03
  2.262e+03 2.272e+03 3.400e+03 2.270e+03 2.274e+03 2.241e+03 2.244e+03
  3.000e+03]
 [5.140e+02 5.160e+02 5.060e+02 5.080e+02 5.350e+05 5.080e+02 5.100e+02
  5.020e+02 5.090e+02 5.120e+05 5.130e+02 5.220e+02 5.110e+02 5.130e+02
  3.090e+05 5.140e+02 5.260e+02 5.090e+02 5.200e+02 4.550e+05 5.280e+02
  5.340e+02 5.230e+02 5.250e+02 3.560e+05 5.340e+02 5.360e+02 5.280e+02
  5.340e+02 3.630e+05 5.420e+02 5.460e+02 5.380e+02 5.450e+02 4.070e+05
  5.440e+02 5.490e+02 5.440e+02 5.490e+02 4.280e+05 5.510e+02 5.540e+02
  5.460e+02 5.520e+02 3.520e+05 5.540e+02 5.620e+02 5.510e+02 5.620e+02
  3.570e+05]
 [1.810e+03 1.872e+03 1.788e+03 1.844e+03 7.490e+04 1.881e+03 1.881e+03
  1.821e+03 1.824e+03 6.250e+04 1.784e+03 1.787e+03 1.761e+03 1.772e+03
  7.820e+04 1.786e+03 1.804e+03 1.762e+03 1.768e+03 5.700e+04 1.733e+03
  1.734e+03 1.687e+03 1.703e+03 8.300e+04 1.643e+03 1.652e+03 1.575e+03
  1.588e+03 7.050e+04 1.548e+03 1.627e+03 1.521e+03 1.625e+03 5.710e+04
  1.614e+03 1.654e+03 1.608e+03 1.608e+03 4.700e+04 1.568e+03 1.575e+03
  1.509e+03 1.518e+03 8.130e+04 1.450e+03 1.497e+03 1.393e+03 1.451e+03
  1.186e+05]
 [5.900e+03 5.900e+03 5.830e+03 5.860e+03 2.983e+05 5.960e+03 6.040e+03
  5.940e+03 6.040e+03 4.683e+05 6.070e+03 6.170e+03 6.050e+03 6.150e+03
  4.095e+05 6.110e+03 6.130e+03 6.060e+03 6.060e+03 2.907e+05 6.120e+03
  6.150e+03 6.050e+03 6.060e+03 2.987e+05 6.100e+03 6.120e+03 6.050e+03
  6.090e+03 2.079e+05 6.090e+03 6.130e+03 5.960e+03 6.030e+03 4.109e+05
  6.090e+03 6.140e+03 6.050e+03 6.140e+03 3.009e+05 6.150e+03 6.160e+03
  6.060e+03 6.120e+03 3.143e+05 6.130e+03 6.130e+03 6.050e+03 6.050e+03
  1.944e+05]
 [1.759e+03 1.769e+03 1.740e+03 1.743e+03 4.300e+03 1.743e+03 1.771e+03
  1.723e+03 1.734e+03 5.600e+03 1.734e+03 1.734e+03 1.638e+03 1.682e+03
  1.420e+04 1.700e+03 1.700e+03 1.680e+03 1.689e+03 3.600e+03 1.689e+03
  1.715e+03 1.682e+03 1.715e+03 2.200e+03 1.706e+03 1.720e+03 1.704e+03
  1.720e+03 1.700e+03 1.725e+03 1.725e+03 1.702e+03 1.719e+03 8.000e+03
  1.710e+03 1.739e+03 1.704e+03 1.731e+03 4.100e+03 1.811e+03 1.811e+03
  1.753e+03 1.755e+03 1.190e+04 1.755e+03 1.789e+03 1.752e+03 1.771e+03
  4.500e+03]]

Data used for modeling... (training data: 922769)
y_train: [0 1 1 ... 1 1 0]

X_train (few rows): [[   734.    734.    721.    729.  29200.    726.    739.    726.    738.
   27000.    738.    772.    727.    738. 111500.    729.    760.    728.
     760.  91300.    760.    813.    752.    810.  78600.    820.    820.
     798.    813.  75100.    815.    815.    795.    798.  21600.    803.
     803.    784.    789.  15800.    786.    804.    783.    794.  28500.
     790.    801.    788.    788.  32600.]
 [  2464.   2488.   2463.   2488.   3900.   2499.   2500.   2491.   2500.
    4000.   2501.   2532.   2500.   2532.   5000.   2515.   2528.   2500.
    2500.   4100.   2500.   2512.   2490.   2490.   3500.   2490.   2505.
    2490.   2490.   2700.   2490.   2498.   2475.   2475.   3800.   2471.
    2480.   2414.   2414.   8200.   2415.   2432.   2410.   2410.   3600.
    2412.   2473.   2412.   2415.   3200.]
 [  2230.   2232.   2102.   2132.  41800.   2103.   2120.   2020.   2030.
   56300.   2050.   2292.   2050.   2243. 209700.   2250.   2279.   2193.
    2218. 148500.   2194.   2263.   2168.   2171.  49400.   2170.   2238.
    2170.   2222.  34500.   2206.   2219.   2133.   2151.  26300.   2151.
    2199.   2078.   2161.  33100.   2111.   2138.   2055.   2096.  35500.
    2096.   2112.   2071.   2085.  13000.]
 [  5780.   5840.   5750.   5790.  11300.   5820.   5860.   5730.   5860.
   10800.   5860.   5860.   5710.   5730.  26300.   5730.   5830.   5730.
    5750.   8200.   5740.   5800.   5670.   5740.  20000.   5710.   5750.
    5660.   5660.   9300.   5660.   5660.   5560.   5580.  11100.   5580.
    5720.   5580.   5720.  23800.   5720.   5780.   5700.   5760.  14400.
    5780.   5820.   5710.   5710.  19800.]
 [  1948.   1991.   1866.   1891. 372400.   1894.   1942.   1834.   1876.
  360500.   1888.   1991.   1873.   1984. 500300.   1999.   2095.   1979.
    2094. 503400.   2090.   2120.   2021.   2046. 371000.   2060.   2085.
    1930.   1930. 598000.   1970.   2008.   1912.   1927. 404700.   1950.
    1970.   1898.   1965. 305400.   1990.   2079.   1974.   2016. 388200.
    1988.   1988.   1882.   1896. 423900.]]

In [ ]:
#
# we also use "cross validation"
#

from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
#
# cross-validation splits the training set into two pieces:
#   + model-building and model-validation. We'll use "build" and "validate"
#
best_k = 84  # Not correct!
best_accuracy = 0.0  # also not correct...

# Note that we are cross-validating using only our TEST data!
for k in range(1,10):
    knn_cv_model = KNeighborsClassifier(n_neighbors=k)   # build knn_model for every k!
    cv_scores = cross_val_score( knn_cv_model, X_train, y_train, cv=5 )  # cv=5 means 80/20
    print(cv_scores)  # just to see the five scores... 
    average_cv_accuracy = cv_scores.mean()  # mean() is numpy's built-in average function 
    print(f"k: {k:2d}  cv accuracy: {average_cv_accuracy:7.4f}")

    
# assign best value of k to best_k
    if average_cv_accuracy > best_accuracy:
        best_accuracy = average_cv_accuracy
        best_k = k      # at the moment this is incorrect   
# you'll need to use the loop above to find and remember the real best_k

print(f"best_k = {best_k}   yields the highest average cv accuracy.")  # print the best one

In [ ]:
# Our computer can not even run a KNN 
# It takes too much time, so we give up this idea